@import "tailwindcss";

:root {
  --yellow-color: #f4cd00;
  --block-color: #a1c181;
}

.button-submit {
    background-color: var(--yellow-color);
    box-shadow: 1px 3px 3px rgba(0,0,0,0.1);
    color: #000;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

.font-suez {
  font-family: "Suez One", serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.bg-custom-yellow {
  background-color: var(--yellow-color);
}


.tik-block {
  background-color: #c8d8c7;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

.bounce-in {
  animation: bounceIn 0.7s ease-out;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }

  40% {
    transform: translateX(5px);
  }

  60% {
    transform: translateX(-5px);
  }

  80% {
    transform: translateX(5px);
  }
}

.shake {
  animation: shake 0.4s ease-in-out;
}
